<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bei.pclient"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="53f19ad1fd98c53dd80013dc" android:name="UMENG_APPKEY"/>
		<meta-data android:value="Channel_BEIZHU" android:name="UMENG_CHANNEL"/>
        <activity
            android:name="com.bei.wapclient.BeiClientActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter><!--  android:port="80" -->
                <data android:scheme="mmapp" android:host="www.bzezt.com" android:path="/wapapk"/>  
                <action android:name="android.intent.action.VIEW" />  
                <category android:name="android.intent.category.DEFAULT" />  
                <category android:name="android.intent.category.BROWSABLE" />  
			</intent-filter>
        </activity>
        <service
		    android:name="com.umeng.update.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
    </application>
    
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>
